<div class="about block on-screen">
  <div class="about__container container">
    <div class="about__content">
      <h2>About</h2>
      <p>I’m a Lead Front End Developer with over 15 years of experience building performant, accessible, and scalable web applications across a variety of industries—including restaurant, automotive, government, and finance. I’ve recently led the front-end development of marketing platforms for major national brands like Red Robin, Denny’s, Bubba’s 33, Noodles & Company, Panda Express and more.</p>

      <p>My technical foundation is rooted in Drupal development, where I’ve delivered complex, content-rich websites for high-profile clients and government entities. With multiple Acquia Certifications, I bring proven expertise in site architecture, presentation layer development, custom module enhancements, and performance optimization within the Drupal ecosystem.</p>

      <p>In addition to my Drupal expertise, I also develop with modern JavaScript frameworks like React, React Native, Next.js, Expo and more—allowing me to build web and mobile applications that are data-driven, interactive, and responsive user experiences. My formal education in Design from Lehigh University uniquely positions me to bridge the gap between design and development, consistently delivering pixel-perfect interfaces that are both accessible and intuitive.</p>

      <p>Beyond developing code, I’ve contributed across the full project lifecycle:</p>
      <ul>
        <li><b>Sales & Strategy</b>: Partnered with sales teams to shape winning RFPs and deliver six-figure project estimates aligned with business goals.</li>
        <li><b>Talent & Hiring</b>: Helped scale dev teams by crafting interview processes, screening candidates, and conducting technical interviews.</li>
        <li><b>Agile Leadership</b>: Collaborated with project managers to establish effective Agile practices and lead stakeholder calls for enterprise projects.</li>
        <li><b>Design Collaboration</b>: Worked closely with UI/UX teams to turn design concepts into robust, production-ready interfaces.</li>
        <li><b>Developer Enablement</b>: Built component libraries, defined coding standards, and served as an SME to mentor developers across multiple projects.</li>
        <li><b>QA & Compliance</b>: Championed code quality, accessibility (WCAG, ADA), modern SEO best practices, and GTM support to meet modern web standards.</li>
        <li><b>Client Education</b>: Delivered comprehensive documentation, live training sessions, and support tailored to real business needs.</li>
      </ul>

      <p>I'm currently expanding my expertise in AI-integrated applications and web/mobile development with React and React Native. I’m actively seeking a full-time role where I can contribute as both a developer and a leader.  Let's connect if you think I may be a valuable addition to your team!</p>
    </div>
  </div>
</div>
