@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translate(0, -200px) scale(.75);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translate(25%, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translate(0, 200px) scale(.75);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}


@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translate(-25%, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
