@font-face {
  font-family: Display;
  src: url(/files/display.woff2) format("truetype");
}

p, li {
  font-size: 16px;
  line-height: 1.25;
}

h2 {
  font-size: 22px;
  line-height: 1.25;
  font-family: Display, sans-serif;
  text-transform: uppercase;

  @include for-tablet-landscape-up {
    font-size: 28px;
  }
}
