p, li {
  font-size: 4vw;
  line-height: 2.15;

  @include for-tablet-portrait-up {
    font-size: 1.9vw;
  }
}

h2 {
  font-size: 5.5vw;
  line-height: 1.25;
  font-weight: 900;
  text-transform: uppercase;

  @include for-tablet-portrait-up {
    font-size: 2.25vw;
  }
}

h3 {
  font-size: 4vw;
  line-height: 1.75;
  font-weight: 600;

  @include for-tablet-portrait-up {
    font-size: 1.9vw;
  }
}
