<div class="work block on-screen">

  <div class="work__container">

    <p class="work__banner">View a list of <button class="button">corporations</button> I worked with.</p>

    <div class="work__list">
      <ul class="work__items">

        @@include('components/work/items/transunion.html')
        @@include('components/work/items/aeg-worldwide.html')
        @@include('components/work/items/pizza-hut.html')
        @@include('components/work/items/wingstop.html')
        @@include('components/work/items/portillos.html')
        @@include('components/work/items/petsmart.html')
        @@include('components/work/items/loreal.html')
        @@include('components/work/items/hathway.html')
        @@include('components/work/items/navy-fed.html')
        @@include('components/work/items/kroger.html')
        @@include('components/work/items/dairy-queen.html')
        @@include('components/work/items/foryourparty.html')
        @@include('components/work/items/red-bull.html')
        @@include('components/work/items/brightview.html')
        @@include('components/work/items/coffee-bean.html')
        @@include('components/work/items/tibco.html')
        @@include('components/work/items/accuair.html')
        @@include('components/work/items/transamerica.html')
        @@include('components/work/items/stubhub.html')
        @@include('components/work/items/a10-networks.html')
        @@include('components/work/items/cerner.html')
        @@include('components/work/items/amway.html')

      </ul>
    </div>
  </div>

</div>
