<div class="work on-screen">
  <div class="work__list">
    <div class="work__items">
      @@include('components/work/item/item.html', {
        "url": "https://www.fws.gov/",
        "title": "U.S. Fish & Wildlife Service",
        "solution": "Multiple Species Management Applications",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.bubbas33.com/",
        "title": "Bubba's 33",
        "solution": "Order Ahead Marketing Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.bcbsks.com/",
        "title": "Blue Cross Blue Shield",
        "solution": "Front End Architecture",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.redrobin.com/",
        "title": "Red Robin",
        "solution": "Order Ahead Marketing Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.thecheesecakefactory.com/",
        "title": "Cheesecake Factory",
        "solution": "Order Ahead Marketing Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.dennys.com/",
        "title": "Denny's",
        "solution": "Order Ahead Marketing Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.noodles.com/",
        "title": "Noodles & Company",
        "solution": "Order Ahead Marketing Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.ny.gov/",
        "title": "New York State Government",
        "solution": "Local Development Architecture",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://pandaexpress.com/",
        "title": "Panda Express",
        "solution": "Order Ahead Marketing Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.dutchbros.com/",
        "title": "Dutch Bros",
        "solution": "Order Ahead Marketing Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.freddys.com/",
        "title": "Freddy's",
        "solution": "Order Ahead Marketing Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.texasroadhouse.com/",
        "title": "Texas Roadhouse",
        "solution": "Order Ahead Marketing Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.ccsoccer.com/",
        "title": "CCSoccer",
        "solution": "Regional Soccer League Management System",
        "technology": "Drupal Commerce"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.transunion.com/",
        "title": "TransUnion",
        "solution": "Credit Bureau Data Services",
        "technology": "React and TeamSite"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.trueidentity.com/",
        "title": "True Identity",
        "solution": "Identity Protection Application",
        "technology": "TeamSite"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.navyfederal.org/",
        "title": "Navy Fed",
        "solution": "Federal Personal Credit Lender",
        "technology": "TeamSite"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.aegworldwide.com/",
        "title": "AEG Worldwide",
        "solution": "Global Marketing Platform",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.bookitprogram.com/",
        "title": "Pizza Hut",
        "solution": "BOOK IT! Program Administration Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.wingstop.com/order/",
        "title": "Wingstop",
        "solution": "Order Ahead Application",
        "technology": "Angular"
      })
      @@include('components/work/item/item.html', {
        "url": "https://order.portillos.com/",
        "title": "Portillo's",
        "solution": "Order Ahead Application",
        "technology": "React"
      })
      @@include('components/work/item/item.html', {
        "url": "https://petsmartcharities.org/",
        "title": "PetSmart",
        "solution": "Charity and Marketing Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.lorealtechincubator.com/colorandco",
        "title": "L'Oreal",
        "solution": "Real-time Beauty Salon Consultation Application",
        "technology": "React"
      })
      @@include('components/work/item/item.html', {
        "url": "https://wearehathway.com/",
        "title": "Hathway",
        "solution": "Agency Marketing Platform",
        "technology": "React"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.kroger.com/",
        "title": "Kroger",
        "solution": "In-store Kiosk Order Application",
        "technology": "Backbone"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.dairyqueen.com/en-us/app/",
        "title": "Dairy Queen",
        "solution": "Mobile App Microsite and Email Campaigns",
        "technology": "Custom Framework"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.foryourparty.com/",
        "title": "ForYourParty",
        "solution": "End-User Product Designer and Commerce Applications",
        "technology": "React and Drupal Commerce"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.amway.com/",
        "title": "Amway",
        "solution": "Internal Documentation Platform",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://coffeebean.com/",
        "title": "Coffee Bean and Tea Leaf",
        "solution": "Order Ahead Application, Mobile App Microsite and Email Campaigns",
        "technology": "Drupal and Custom Framework"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.redbull.com/us-en/",
        "title": "Red Bull",
        "solution": "Year in Review Campaign",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.brightview.com/",
        "title": "BrightView",
        "solution": "Marketing Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.stubhub.com/",
        "title": "StubHub",
        "solution": "Internal Email Management System",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://community.tibco.com/",
        "title": "Tibco",
        "solution": "Community Forum and Marketing Applications",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://code.cerner.com/",
        "title": "Cerner",
        "solution": "Marketing and Developer Portal Application",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://www.a10networks.com/",
        "title": "A10 Networks",
        "solution": "Marketing and Documentation Application",
        "technology": "Drupal"
      })
      <!-- @@include('components/work/item/item.html', {
        "url": "https://www.lumentum.com/",
        "title": "Lumentum",
        "solution": "Marketing and Documentation Application",
        "technology": "Drupal"
      }) -->
      @@include('components/work/item/item.html', {
        "url": "https://www.transamerica.com/",
        "title": "TransAmerica",
        "solution": "Social Media Trickshot Campaign",
        "technology": "Drupal"
      })
      @@include('components/work/item/item.html', {
        "url": "https://accuair.com/",
        "title": "AccuAir Suspension",
        "solution": "Marketing and Commerce Application",
        "technology": "Drupal Commerce"
      })
    </div>
  </div>
</div>
