<div class="work on-screen">

  <p class="work__banner">View a list of <button class="button">contributions</button> that I have made</p>

  <div class="work__list">
    <ul class="work__items">
      @@include('components/work/panes/petsmart.html')
      @@include('components/work/panes/pizza-hut.html')
      @@include('components/work/panes/wingstop.html')
      @@include('components/work/panes/portillos.html')
      @@include('components/work/panes/loreal.html')
      @@include('components/work/panes/hathway.html')
      @@include('components/work/panes/aeg-worldwide.html')
      @@include('components/work/panes/kroger.html')
      @@include('components/work/panes/dairy-queen.html')
      @@include('components/work/panes/red-bull.html')
      @@include('components/work/panes/brightview.html')
      @@include('components/work/panes/accuair.html')
      @@include('components/work/panes/transamerica.html')
      @@include('components/work/panes/stubhub.html')
      @@include('components/work/panes/a10-networks.html')
      @@include('components/work/panes/foryourparty.html')
      @@include('components/work/panes/coffee-bean.html')
      @@include('components/work/panes/cerner.html')
      @@include('components/work/panes/amway.html')
      @@include('components/work/panes/tibco.html')
    </ul>
  </div>

</div>