<div class="footer block on-screen">

  <ul class="footer__menu">
    <li class="footer__item">
      <a class="footer__link" href="mailto:ericjshell@gmail.com?subject=New%20Website%20Contact" target="_blank">Email</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="https://github.com/eric-shell" target="_blank">GitHub</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="http://linkedin.com/in/ericshell" target="_blank">LinkedIn</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="https://instagram.com/ericshell" target="_blank">Instagram</a>
    </li>
  </ul>

  <div class="footer__info">
    <span id="year"></span> Eric Shell
  </div>

</div>
