@media #{$small-up}{

  .about{
  	position: relative;
  	background: $black;
    padding: 18vw 1.5vw;

    p{
      width: 100%;
      max-width: $container-width;
      margin: 0 auto;
    }

    a{
      color: $white;
      @include link($black, $white);
    }
  }
}
