@media #{$small-up}{

  #freelance{
    display: none;
  }
}

@media #{$medium-up}{

  #freelance{
    width: 100%;
    display: flex;
    position: relative;
    transform: skewY(-1deg);
    z-index: 10;

    .slogan{
      position: relative;
      background: $cyan;
      width: 100%;
      height: 100%;
      margin: -1.5vw 0;
      padding: 3vw 1.5vw;

      &:before,
      &:after{
        content: '';
        width: 100%;
        height: 50%;
        z-index: -1;
        position: absolute;
        transition: $out-transition;
      }

      &:before{
        top: 0;
        left: 0;
        background: $blue;
      }

      &:after{
        bottom: 0;
        right: 0;
        background: $violet;
      }

      &.hover{

        &:before,
        &:after{
          transition: $out-transition;
          transform: skewY(2.5deg);
        }
      }

      p{
        width: 100%;
        max-width: $container-width;
        color: $white;
        text-align: center;
        margin: 0 auto;
        transform: skewY(1deg);
      }
    }
  }
}

@media #{$large-up}{

  #freelance{
    transform: skewY(-2deg);

    .slogan{
      margin: -3vw 0;

      &.hover{

        &:before,
        &:after{
          transform: skewY(3deg);
        }
      }

      p{
        transform: skewY(2deg);
      }
    }
  }
}
