@media #{$small-up}{

  #header{
    overflow: hidden;
    position: relative;
    background: $violet;

    #profile{
      z-index: 10;
      position: relative;

      #logo{
        display: flex;
        position: absolute;
        top: 15%;
        left: 15%;
        width: 70%;
        height: 70%;

        svg{
          width: 100%;
        }
      }
    }

    #intro{
      padding: 7.5rem 1.5rem 5rem;
      z-index: 5;
      position: relative;
      background: $white;
      display: flex;
      justify-content: center;
      align-items: center;

      &:after{
        content: '';
        width: 100%;
        height: 85px;
        position: absolute;
        z-index: -1;
        left: 0;
        top: -50px;
        transform: skewY(-5deg);
        background: $violet;
      }

      p{
        color: $black;
      }
    }
  }
}

@media #{$medium-up}{

  #header{
    display: flex;
    background: $blue;

    #profile{
      z-index: 5;
      width: 50%;

      #headshot{
        padding-right: 25%;
        animation: 1s ease-out fromLeft;
      }

      #logo{
        top: 25%;
        left: 12.5%;
        width: 50%;
        height: 50%;
        animation: .75s ease-out fromLeft;
      }
    }

    #intro{
      padding: 0;
      z-index: 10;
      width: 50%;
      animation: 1s ease-out fromRight;

      p{
        position: relative;
        top: 0;
        left: -3vw;
        font-size: 2vw;
      }

      &:after{
        content: '';
        z-index: -1;
        position: absolute;
        left: -24%;
        top: -40%;
        width: 100%;
        height: 200%;
        transform: rotate(14deg);
        background: $white;
      }
    }
  }
}

@media #{$large-up}{

  #header{

    #profile{
      width: 60%;
    }

    #intro{
      width: 40%;

      p{
        left: -12%;
        font-size: 1.6vw;
      }

      &:after{
        left: -33%;
        transform: rotate(29deg);
      }
    }
  }
}
