<section id="header">

  <div id="profile">
    <img id="headshot" src="images/eric-shell.jpg" width="1503" height="1400" alt="Eric Shell"/>
    <div id="logo">
      <img src="images/logo.svg" alt="Eric Shell logo"/>
    </div>
  </div>

  <div id="intro">
    <p>I am a Digital Media Specialist capable of architecting comprehensive solutions using the latest available
      technologies. I support my solutions with an educated approach to design and individualized content
      creation.</p>
  </div>

</section>
