<meta charset="UTF-8">
<meta name="referrer" content="origin"/>
<meta name="title" content="Eric Shell | Digital Media Specialist"/>
<meta name="original-source" content="http://eric.sh"/>
<meta name="description" content="I am a Digital Media Specialist capable of architecting comprehensive solutions using the latest available technologies. I support my solutions with an educated approach to design and individualized content creation."/>
<meta name="news_keywords" content="Eric Shell, web, website, developer, engineer, development, San Luis Obispo, SLO, California, Lehigh"/>
<meta name='designer' content='Eric Shell'>
<meta name='author' content='Eric Shell, ericjshell@gmail.com'>
<meta name="geo.position" content="35.282752, -120.659616"/>
<meta name="keywords" content="Eric Shell, web, website, developer, engineer, development, San Luis Obispo, SLO, California, Lehigh"/>
<meta name="rights" content="Attribution-NonCommercial-NoDerivs CC BY-NC-ND"/>
<link rel="canonical" href="http://eric.sh"/>
<meta name="icbm" content="35.282752, -120.659616"/>
<link rel="shortlink" href="http://eric.sh"/>
<meta name="standout" content="Eric Shell, web, website, developer, engineer, development, San Luis Obispo, SLO, California, Lehigh"/>
<meta name="robots" content="index, follow"/>
<meta name="image_src" content="http://eric.sh/images/meta-thumbnail.jpg"/>
<meta name="abstract" content="I am a Digital Media Specialist capable of architecting comprehensive solutions using the latest available technologies. I support my solutions with an educated approach to design and individualized content creation."/>
<meta name="geo.region" content="US-CA"/>
<meta name="geo.placename" content="San Luis Obispo"/>
<link itemprop="image" href="http://eric.sh/images/meta-thumbnail.jpg"/>
<meta itemprop="description" content="I am a Digital Media Specialist capable of architecting comprehensive solutions using the latest available technologies. I support my solutions with an educated approach to design and individualized content creation."/>
<meta itemprop="name" content="Eric Shell | Digital Media Specialist"/>
<link rel="publisher" href="http://eric.sh"/>
<meta property="article:author" content="Eric Shell"/>
<meta property="og:postal_code" content="93401"/>
<meta property="article:publisher" content="Eric Shell"/>
<meta property="article:section" content="main"/>
<meta property="og:image:width" content="2146"/>
<meta property="article:tags" content="Eric Shell, web, website, developer, engineer, development, San Luis Obispo, SLO, California, Lehigh"/>
<meta property="og:image:height" content="1260"/>
<meta property="og:email" content="ericjshell@gmail.com"/>
<meta property="og:country_name" content="United States"/>
<meta property="og:image:type" content="image/jpeg"/>
<meta property="og:updated_time" content="2016-09-23T11:02:45-0700"/>
<meta property="og:description" content="I am a Digital Media Specialist capable of architecting comprehensive solutions using the latest available technologies. I support my solutions with an educated approach to design and individualized content creation."/>
<meta property="og:locale:alternate" content="en_US"/>
<meta property="og:latitude" content="35.282752"/>
<meta property="og:longitude" content="-120.659616"/>
<meta property="og:region" content="CA"/>
<meta property="og:locale" content="en_US"/>
<meta property="article:modified_time" content="2017-02-06T11:02:45-0700"/>
<meta property="og:image" content="http://eric.sh/images/meta-thumbnail.jpg"/>
<meta property="og:url" content="http://eric.sh"/>
<meta property="og:site_name" content="Eric Shell"/>
<meta property="og:title" content="Eric Shell | Digital Media Specialist"/>
<meta property="og:locality" content="San Luis Obispo"/>
<meta property="article:published_time" content="2017-02-06T11:02:45-0700"/>
<meta property="og:image:url" content="http://eric.sh/images/meta-thumbnail.jpg"/>
<meta property="og:type" content="website"/>
<meta name="twitter:url" content="http://eric.sh"/>
<meta name="twitter:image:width" content="2146"/>
<meta name="twitter:image:height" content="1260"/>
<meta name="twitter:image" content="http://eric.sh/images/meta-thumbnail.jpg"/>
<meta name="twitter:image:alt" content="I am a Digital Media Specialist capable of architecting comprehensive solutions using the latest available technologies. I support my solutions with an educated approach to design and individualized content creation."/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="Eric Shell | Digital Media Specialist"/>
<meta property="fb:admins" content="100011660062733"/>
<meta name="Generator" content="HTML5"/>
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="true"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.icon"/>
<link rel="shortlink" href="http://eric.sh"/>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-58097897-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());
  gtag('config', 'UA-58097897-1');
</script>
