<section id="resume">

  <div class="pane visible current">
    <div>
      <a class="btn" href="resume.pdf" download>Download my resume</a>
      <p>or</p>
      <button>Experience my resume</button>
    </div>
  </div>

  <div class="pane">
    <div>
      <a class="title" href="http://www.wearehathway.com/" target="_blank">Hathway</a>
      <ul>
        <li>Software Engineer</li>
        <li>San Luis Obispo, California</li>
        <li>May 2015 - Present</li>
      </ul>
      <ul>
        <li>As a Software Engineer I am responsible for:</li>
        <li>Web development lead and team member specializing in Drupal 7 and 8 projects</li>
        <li>Custom responsive theme development with project specific task automation</li>
        <li>Supporting digital designer for troubleshooting assets and providing UI/UX feedback</li>
        <li>Collaborate development and provide training for on-site and remote team members</li>
      </ul>
      <button>View my previous position</button>
    </div>
  </div>

  <div class="pane">
    <div>
      <a class="title" href="https://www.accuair.com/" target="_blank">AccuAir Suspension</a>
      <ul>
        <li>Digital Media Director</li>
        <li>San Luis Obispo, California</li>
        <li>March 2013 - May 2015</li>
      </ul>
      <ul>
        <li>As the Digital Media Director I was responsible for:</li>
        <li>Web development and innovation lead specializing in Drupal 7 Commerce 2.0</li>
        <li>Custom responsive theme development and support with task automation</li>
        <li>Supporting cinematographer and photographer for feature and event content</li>
        <li>Supporting graphic designer for digital and print media assets</li>
      </ul>
      <button>View my previous position</button>
    </div>
  </div>

  <div class="pane">
    <div>
      <a class="title" href="http://imrc.cas2.lehigh.edu/" target="_blank">Lehigh University IMRC</a>
      <ul>
        <li>Digital Media Producer</li>
        <li>Bethlehem, Pennsylvania</li>
        <li>June 2009 - June 2013</li>
      </ul>
      <ul>
        <li>As a Digital Media Producer I was responsible for:</li>
        <li>Web development team member aiding in static site and Drupal 7 site building</li>
        <li>Custom responsive theme development and ability to train student employees</li>
        <li>Capturing video, editing and coloring club and organization projects and events</li>
        <li>Ability to maintain two individual campus TV stations with Swank</li>
      </ul>
      <button>View my skills</button>
    </div>
  </div>

  <div class="pane">
    <div>
      <span class="title">Skills &amp; Knowledge</span>
      <ul>
        <li>Markup Languages: HTML, Twig, Markdown, SVG</li>
        <li>Style Sheet Languages: CSS, SCSS, LESS</li>
        <li>Task Runners: Gulp, Grunt</li>
        <li>Client Side Scripting: JavaScript, jQuery</li>
        <li>Server Side Scripting: PHP</li>
        <li>CMS: Drupal, Wordpress</li>
        <li>Data Serialization Formats: JSON, YAML</li>
        <li>Version Control: Git, SourceTree</li>
        <li>Development Managers: NPM, Composer</li>
        <li>Command Line Tools: Brew, Drush, Console, Yeoman</li>
        <li>Imaging Hardware: Sony mirrorless, Canon DSLR, Nikon DSLR</li>
        <li>Design Utilities: Adobe Photoshop, Adobe Illustrator, Sketch</li>
      </ul>
      <button>View my education</button>
    </div>
  </div>

  <div class="pane">
    <div>
      <span class="title">Education</span>
      <ul>
        <li>Lehigh University, Bethlehem Pennsylvania May 2013</li>
        <li>Bachelor of Arts in Design with concentrations in Web, Graphic and Product Design</li>
      </ul>
      <ul>
        <li>College of Arts and Sciences Undergraduate Grant - 2011</li>
        <li>Art, Architecture and Design Honors Program - 2012</li>
        <li>Lehigh University Undergraduate Strohl Grant - 2012</li>
      </ul>
      <button>Take the next step</button>
    </div>
  </div>

  <div class="pane">
    <div>
      <a class="btn" href="mailto:ericjshell@gmail.com?subject=New%20Website%20Contact" target="_blank">Contact me</a>
      <p>or</p>
      <a class="btn" href="resume.pdf" download>Download my resume</a>
    </div>
  </div>

</section>
