@media #{$small-up}{

  #clients{
    background: $black;

    li{
    	position: relative;

    	&:hover{

    		.client-logo{
    			padding: 0 4vw;
    			transition: padding .1s ease-out;
    		}
    	}
    }

    .client-logo{
    	z-index: 10;
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	padding: 0 4.25vw;
    	transition: padding .25s ease-out;
    }

    .client-bg{
    	z-index: 5;
    	position: relative;
    }
  }
}
