@media #{$small-up}{

  #footer{
  	background: $violet;
  	padding: 4.5rem 1.5rem;

  	ul{
  		@include container;
  		list-style: none;
  		display: flex;

  		li{
  			color: $white;

  			a{
          @include link($violet, $white);
  				color: $white;
  				margin: 0 0 0 1em;
  			}

   			&:first-child{

  				a{
  					margin: 0;
  				}
  			}

  			&:last-child{
	  			flex-grow: 1;
	  			text-align: right;
	  		}
  		}
  	}
  }
}
