@media #{$small-up}{

  #freelance{
    background: $cyan;
    position: relative;
    padding: 0 1.5rem;
    z-index: 15;

    &:before,
    &:after{
    	content: '';
    	width: 100%;
    	height: 100%;
    	z-index: -1;
    	position: absolute;
    	left: 0;
    	transform: skewY(-1deg);
    	background: $cyan;
    }

    &:before{
      top: -40%;
    }

    &:after{
      bottom: -40%;
    }

    p{
      @include container;
      text-align: center;
      color: $white;
    }
  }
}

@media #{$large-up}{

  #freelance{

    &:before,
    &:after{
      transform: skewY(-2deg);
    }
  }
}
