@media #{$small-up}{

  #hero{
    position: relative;
    overflow: hidden;
    background: $blue;

    #hero-imagery{
      position: relative;
    }

    #hero-background{
      height: 0;
      width: 135%;
      padding-top: 105%;
      background-image: url(../images/hero.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    #hero-logo{
      position: absolute;
      top: 30%;
      left: 15%;
      height: 0;
      width: 70%;
      padding-top: 70%;
      background-image: url(../images/logo.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    #hero-content{
      z-index: 1;
      position: relative;
      background: $white;

      .hero-body{
        padding: 0;
        height: 100%;
        position: relative;
      }

      .hero-body-container{
        padding: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
          padding: 0;
          font-size: 4.2vw;
          text-align: justify;

          &:first-child{
            padding: 0 0 2em;
          }
        }

        a{
          @include link-round($blue, $white);
        }
      }
    }
  }
}

@media #{$medium-up}{

  #hero{
    display: flex;

    #hero-imagery{
      flex-basis: 50%;
      transition: all ease-out .5s;

      &.animate{
        animation: 1s ease-out fromLeft;
      }
    }

    #hero-background{
      width: 100%;
      padding-top: 78.85%;
    }

    #hero-logo{
      top: 30%;
      left: 13%;
      width: 50%;
      padding-top: 50%;
    }

    #hero-content{
      flex-basis: 50%;
      transition: all ease-out .5s;

      &.animate{
        animation: 1s ease-out fromRight;
      }

      .hero-body-container{
        padding: 0;
        position: absolute;
        top: 0;
        left: -10%;
        width: 100%;
        height: 100%;

        p{
          font-size: 1.875vw;

          &:first-child{
            padding: 2em 1em;
          }
        }
      }

      &:after{
        content: '';
        position: absolute;
        z-index: -1;
        left: -24%;
        top: -40%;
        width: 100%;
        height: 200%;
        transform: rotate(14deg);
        background: rgba(255,255,255,1);
        transition: all ease-out .5s;
      }
    }
  }
}

@media #{$large-up}{

  #hero{

    #hero-imagery{
      flex-basis: 60%;
      transition: all ease-out .5s;
    }

    #hero-content{
      flex-basis: 40%;
      transition: all ease-out .5s;

      &:after{
        left: -33%;
        transform: rotate(29deg);
        transition: all ease-out .5s;
      }

      .hero-body-container{
        left: -10%;

        p{
          font-size: 1.525vw;
        }
      }
    }
  }
}
