<div class="pane pane--accuair">
  <div class="pane__content">

    <div class="pane__header">
      <h2><a href="https://www.accuair.com/" target="_blank">AccuAir Suspension</a></h2>
      <ul>
        <li>Digital Media Director</li>
        <li>San Luis Obispo, California</li>
        <li>March 2013 - May 2015</li>
      </ul>
    </div>

    <div class="pane__body">
      <h3>My responsibilities as the Digital Media Director were:</h3>
      <ul>
        <li>Web development lead and front-end innovation lead specializing in Drupal 7 Commerce 2.0.</li>
        <li>Educate and support employees responsible for managing content and products.</li>
        <li>Supporting cinematographer and photographer for feature and event content creation.</li>
        <li>Supporting graphic designer for digital and print media assets.</li>
      </ul>
    </div>

    <button class="button pane__next">View my previous position</button>

  </div>
</div>
