<div class="pane">
  <div class="content">
    <h2>Education</h2>
    <ul>
      <li>Lehigh University, Bethlehem Pennsylvania May 2013</li>
      <li>Bachelor of Arts in Design with concentrations in Web, Graphic and Product Design</li>
    </ul>
    <ul>
      <li>College of Arts and Sciences Undergraduate Grant - 2011</li>
      <li>Art, Architecture and Design Honors Program - 2012</li>
      <li>Lehigh University Undergraduate Strohl Grant - 2012</li>
    </ul>
    <button>Take the next step</button>
  </div>
</div>
