<div class="pane">
  <div class="content">

    <div class="employment">
      <h2><a href="http://www.wearehathway.com/" target="_blank">Hathway</a></h2>
      <h3>Software Engineer</h3>
      <p>San Luis Obispo, California</p>
      <p>May 2015 - Present</p>
    </div>

    <div class="contributions">
      <h4>As a Software Engineer I am responsible for:</h4>
      <ul>
        <li>Web development lead and team member specializing in Drupal 7 and 8 projects.</li>
        <li>Custom responsive theme development with project specific task automation.</li>
        <li>Supporting digital designer for troubleshooting assets and providing UI/UX feedback.</li>
        <li>Collaborate development and provide training for on-site and remote team members.</li>
      </ul>
    </div>

    <button>View my previous position</button>

  </div>
</div>
