<div class="pane">
  <div class="content">
    <h2><a href="http://www.wearehathway.com/" target="_blank">Hathway</a></h2>
    <h3>Software Engineer</h3>
    <ul class="employment">
      <li>San Luis Obispo, California</li>
      <li>May 2015 - Present</li>
    </ul>
    <ul class="contributions">
      <li>As a Software Engineer I am responsible for:</li>
      <li>Web development lead and team member specializing in Drupal 7 and 8 projects.</li>
      <li>Custom responsive theme development with project specific task automation.</li>
      <li>Supporting digital designer for troubleshooting assets and providing UI/UX feedback.</li>
      <li>Collaborate development and provide training for on-site and remote team members.</li>
    </ul>
    <button>View my previous position</button>
  </div>
</div>
