<div class="pane pane--hathway">
  <div class="pane__content">

    <div class="pane__header">
      <h2><a href="http://www.wearehathway.com/" target="_blank">Hathway</a></h2>
      <ul>
        <li>Software Engineer</li>
        <li>San Luis Obispo, California</li>
        <li>May 2015 - September 2018</li>
      </ul>
    </div>

    <div class="pane__body">
      <h3>My responsibilities as a Software Engineer were:</h3>
      <ul>
        <li>Fulfill Tech Lead and Front-End Specialist roles for all resourced web applications.</li>
        <li>Supporting digital designer for troubleshooting assets and providing UI/UX feedback.</li>
        <li>Effectively communicate with clients by providing education and creative solutions.</li>
        <li>Work seamlessly with teams of all types and sizes both internally and externally.</li>
      </ul>
    </div>

    <button class="button pane__next">View my previous position</button>

  </div>
</div>
