<div class="pane knowledge">
  <div class="pane__content">

    <h2>Knowledge</h2>

    <ul>
      <li><label>Markup Formats:</label>HTML, JSX, SVG, Twig, Handlebars, Markdown</li>
      <li><label>Style Sheet Languages:</label>CSS, SCSS, LESS</li>
      <li><label>Task Runners:</label>Gulp, Grunt</li>
      <li><label>CMS:</label>Drupal, Wordpress</li>
      <li><label>Client Side Scripting:</label>JavaScript, React, Angular, Backbone, jQuery</li>
      <li><label>Server Side Scripting:</label>PHP</li>
      <li><label>Data Serialization Formats:</label>JSON, YAML</li>
      <li><label>Version Control:</label>Git, Github, Bitbucket, SourceTree</li>
      <li><label>Development Managers:</label>NPM, Yarn, Composer</li>
      <li><label>Command Line Tools:</label>Brew, Drush, Console, Imagemin</li>
      <li><label>Camera Platforms:</label>Sony mirrorless, Canon DSLR, Nikon DSLR</li>
      <li><label>Media Software:</label>Adobe Creative Suite, Final Cut Studio, Sketch, Invision</li>
    </ul>

    <button class="button">View my credentials</button>

  </div>
</div>
