<div class="pane">
  <div class="content">

    <h2>Knowledge</h2>

    <ul>
      <li>Markup Languages: HTML, Twig, JSX, Markdown, SVG</li>
      <li>Style Sheet Languages: CSS, SCSS, LESS</li>
      <li>Task Runners: Gulp, Grunt</li>
      <li>Client Side Scripting: JavaScript (React, Backbone, jQuery)</li>
      <li>Server Side Scripting: PHP</li>
      <li>CMS: Drupal, Wordpress</li>
      <li>Data Serialization Formats: JSON, YAML</li>
      <li>Version Control: Git, Github, SourceTree</li>
      <li>Development Managers: NPM, Yarn, Composer</li>
      <li>Command Line Tools: Drush, Console, Imagemin, Brew, Yeoman</li>
      <li>Imaging Hardware: Sony mirrorless, Canon DSLR, Nikon DSLR</li>
      <li>Design Utilities: Adobe Photoshop, Adobe Illustrator, Sketch</li>
    </ul>

    <button>View my credientials</button>

  </div>
</div>
