<div class="pane">
  <div class="content">
    <h2><a href="http://imrc.cas2.lehigh.edu/" target="_blank">Lehigh University IMRC</a></h2>
    <h3>Digital Media Producer</h3>
    <ul class="employment">
      <li>Bethlehem, Pennsylvania</li>
      <li>June 2009 - June 2013</li>
    </ul>
    <ul class="contributions">
      <li>As a Digital Media Producer I was responsible for:</li>
      <li>Web development team member aiding in static site and Drupal 7 site building.</li>
      <li>Custom responsive theme development and ability to train student employees.</li>
      <li>Capturing video, editing and coloring club and organization projects and events.</li>
      <li>Ability to maintain two individual campus TV stations with Swank.</li>
    </ul>
    <button>View my knowledge</button>
  </div>
</div>
