<div class="pane">
  <div>
    <a class="title" href="http://imrc.cas2.lehigh.edu/" target="_blank">Lehigh University IMRC</a>
    <ul>
      <li>Digital Media Producer</li>
      <li>Bethlehem, Pennsylvania</li>
      <li>June 2009 - June 2013</li>
    </ul>
    <ul>
      <li>As a Digital Media Producer I was responsible for:</li>
      <li>Web development team member aiding in static site and Drupal 7 site building</li>
      <li>Custom responsive theme development and ability to train student employees</li>
      <li>Capturing video, editing and coloring club and organization projects and events</li>
      <li>Ability to maintain two individual campus TV stations with Swank</li>
    </ul>
    <button>View my knowledge</button>
  </div>
</div>
