<div class="pane pane--lehigh">
  <div class="pane__content">

    <div class="pane__header">
      <h2><a href="http://imrc.cas2.lehigh.edu/" target="_blank">Lehigh University IMRC</a></h2>
      <ul>
        <li>Digital Media Producer</li>
        <li>Bethlehem, Pennsylvania</li>
        <li>June 2009 - June 2013</li>
      </ul>
    </div>

    <div class="pane__body">
      <h3>My responsibilities as a Digital Media Producer were:</h3>
      <ul>
        <li>Web developer on static and Drupal 7 sites for campus departments and organizations.</li>
        <li>Train student employees on front-end web development practices and video editing workflows.</li>
        <li>Recording, editing and coloring various videos for organizations and projects campus-wide.</li>
        <li>Ability to maintain two individual campus TV stations utilizing Swank.</li>
      </ul>
    </div>

    <button class="button pane__next">View my knowledge</button>

  </div>
</div>
