<div class="clients on-screen">

  <ul class="clients__list">
    <li class="clients__item">
      <h2>PetSmart</h2>
      <h3>Charity Application</h3>
      <p>Drupal 8</p>
    </li>
    <li class="clients__item">
      <h2>Pizza Hut</h2>
      <h3>BOOK IT! Administration Application</h3>
      <p>Drupal 8</p>
    </li>
    <li class="clients__item">
      <h2>Wingstop</h2>
      <h3>Order Ahead Application</h3>
      <p>Angular JS</p>
    </li>
    <li class="clients__item">
      <h2>Portillo's</h2>
      <h3>Order Ahead Application</h3>
      <p>React JS</p>
    </li>
    <li class="clients__item">
      <h2>L'Oreal</h2>
      <h3>Real-time Consultation Application</h3>
      <p>React JS</p>
    </li>
    <li class="clients__item">
      <h2>Hathway</h2>
      <h3>Agency Marketing Platform</h3>
      <p>React JS</p>
    </li>
    <li class="clients__item">
      <h2>AEG Worldwide</h2>
      <h3>Marketing Platform</h3>
      <p>Drupal 8</p>
    </li>
    <li class="clients__item">
      <h2>Kroger</h2>
      <h3>In-Store Order Kiosk</h3>
      <p>Backbone JS</p>
    </li>
    <li class="clients__item">
      <h2>Dairy Queen</h2>
      <h3>Mobile App Microsite and Email Campaigns</h3>
      <p>My personal framework</p>
    </li>
    <li class="clients__item">
      <h2>RedBull</h2>
      <h3>Year in Review Campaign</h3>
      <p>Drupal 7</p>
    </li>
    <li class="clients__item">
      <h2>BrightView</h2>
      <h3>Brand Marketing</h3>
      <p>Drupal 7</p>
    </li>
    <li class="clients__item">
      <h2>AccuAir Suspension</h2>
      <h3>Commerce and Brand Platform</h3>
      <p>Drupal 7 Commerce</p>
    </li>
    <li class="clients__item">
      <h2>TransAmerica</h2>
      <h3>Social Media Trickshot Campaign</h3>
      <p>Drupal 7</p>
    </li>
    <li class="clients__item">
      <h2>StubHub</h2>
      <h3>Email Management System</h3>
      <p>Drupal 7</p>
    </li>
    <li class="clients__item">
      <h2>A10 Networks</h2>
      <h3>Brand Platform</h3>
      <p>Drupal 7</p>
    </li>
    <li class="clients__item">
      <h2>ForYourParty</h2>
      <h3>Commerce and Brand Platform</h3>
      <p>Drupal 8 Commerce</p>
    </li>
    <li class="clients__item">
      <h2>Coffee Bean and Tea Leaf</h2>
      <h3>Mobile App Microsite and Email Campaigns</h3>
      <p>My personal framework</p>
    </li>
    <li class="clients__item">
      <h2>Cerner</h2>
      <h3>Developer Portal</h3>
      <p>Drupal 7</p>
    </li>
    <li class="clients__item">
      <h2>Amway</h2>
      <h3>Internal Documentation Platform</h3>
      <p>Drupal 8</p>
    </li>
    <li class="clients__item">
      <h2>Tibco</h2>
      <h3>Community Forum and Marketing Applications</h3>
      <p>Drupal 7</p>
    </li>
  </ul>

</div>