@media #{$small-up}{

  .about{
  	position: relative;
  	background: $black;
    padding: 12.5em 1.5em;

    p{
      width: 100%;
      max-width: $container-width;
      margin: 0 auto;
      color: $white;
    }
  }
}
