@media #{$small-up}{

  #freelance{
    display: none;
  }
}

@media #{$medium-up}{

  #freelance{
    display: block;
    position: relative;
    z-index: 10;
    background: $cyan;
    margin: -1.5vw 0;
    padding: 3vw 1.5vw;
    transform: skewY(-1deg);

    p{
      width: 100%;
      max-width: $container-width;
      color: $white;
      text-align: center;
      margin: 0 auto;
      transform: skewY(1deg);
    }
  }
}

@media #{$large-up}{

  #freelance{
    margin: -3vw 0;
    transform: skewY(-2deg);

    p{
      transform: skewY(2deg);
    }
  }
}
