@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

body{
  font-size: 100%;
  text-rendering:optimizeLegibility;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

@media #{$small-up}{

  p {
    font-size: 1.2rem;
    line-height: 1.8;

    a{
      font-weight: 600;
    }
  }

  h1{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@media #{$medium-up}{

  p{
    font-size: 2vw;
  }

  h1{
    font-size: 6vw;
  }
}

@media #{$large-up}{

  p{
    font-size: 1.6vw;
  }

  h1{
    font-size: 5vw;
  }
}
