@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900');

body{
  font-size: 100%;
  text-rendering:optimizeLegibility;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

@media #{$small-up}{

  p {
    color: $white;
    font-size: 1.25rem;
    line-height: 2;

    a{
      font-weight: 600;
    }
  }

  ul{
    list-style: none;

    li{
      color: $white;
    }
  }

  span{
    color: $white;
  }

  h1{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@media #{$medium-up}{

  p{
    font-size: 2.25vw;
  }

  h1{
    font-size: 6vw;
  }
}

@media #{$large-up}{

  p{
    font-size: 1.75vw;
  }

  h1{
    font-size: 5vw;
  }
}
