<div class="testimonials block on-screen">
  <div class="testimonials__container container">
    <h2>Testimonials</h2>
    <div class="testimonials__items">
      @@include('components/testimonials/item/item.html', {
        "review": "... Eric has years of experience working on complex sites, particularly in the dining industry. ... I can attest that he has worked with some large, popular and well-recognized restaurant brands, creating amazing front-end experiences. For one such client, Eric led the front-end development during a replatforming project onto Drupal. He developed innovative solutions to integrate promoted items seamlessly within various food menu items ...",
        "author": "Scott W. - Senior Director"
      })
      @@include('components/testimonials/item/item.html', {
        "review": "... I was always so impressed by his client-facing skills, they are second to none—he listens intently, asks the right questions, and offers clear, actionable solutions and insights. He has an ability to turn the most technically complex concepts into something that those who are not as technically savvy could easily understand, ensuring everyone was on the same page. I jumped at any opportunity to get him in front of clients ...",
        "author": "Jessica T. - Client Service + Account Management Leader"
      })
      @@include('components/testimonials/item/item.html', {
        "review": "... I fondly remember delivering an entire website redesign in 3 weeks after a client suddenly demanded foundational changes to their experience. Working with Eric was fun because he made everything seem possible, allowing myself and our designers to dream big ...",
        "author": "Fedja B. - Senior Product Manager"
      })
      @@include('components/testimonials/item/item.html', {
        "review": "... Eric is an exemplary Front End Developer and site builder in all aspects. Not only is he able to build exceptional responsive websites, he can manage other developers, communicate directly with stakeholders, create training documentation and foster collaboration on any team he's involved with. He has a depth of knowledge that is unparalleled and always strives to create the most holistic solution that he can while respecting requirements, budgets and timelines ...",
        "author": "Suren K. - Associate Principle Developer"
      })
      @@include('components/testimonials/item/item.html', {
        "review": "... Eric consistently goes the extra mile, whether we were working in the office or remotely. His communication skills—both written and verbal—are exemplary, and he has an exceptional ability to tackle complex challenges with ease. I could always count on him to provide the answers I needed or to resolve client issues promptly and effectively ...",
        "author": "Andrea S. - Senior Producer"
      })
      @@include('components/testimonials/item/item.html', {
        "review": "... [Eric] approached challenges with a positive attitude and a determination to deliver high-quality results. His attention to detail and dedication to best practices significantly improved our workflow. Moreover, he is an excellent collaborator. Eric worked seamlessly with the entire team to ensure that every project aligned with our goals and exceeded client expectations ...",
        "author": "Amee W. - Project Manager"
      })
      @@include('components/testimonials/item/item.html', {
        "review": "... [Eric] was consistently professional and hard-working. He brought a level of knowledge of Front End solutions and coding patterns to our team that was previously lacking, and he led the development of some key products for our consumer-facing websites. Eric is a manager's dream as he is intrinsically motivated to be challenged, produce high-quality products, and meet his deadlines ...",
        "author": "Andera B. - Product Manager"
      })
      @@include('components/testimonials/item/item.html', {
        "review": "... Eric consistently brought innovative ideas to the table, helping us push the boundaries of what was possible with each project. His client-facing skills were outstanding, making complex technical concepts easy to understand for stakeholders, while also managing expectations and ensuring all parties were aligned ...",
        "author": "Nariah H. - Project Manager"
      })
      @@include('components/testimonials/item/item.html', {
        "review": "... Eric is an incredible engineer. He consistently goes above and beyond with a customer-centric mindset and attention to detail in his work. His communication skills also help set him apart from the rest, being able to translate complex technical concepts to high level stakeholders ...",
        "author": "Tyler A. - Certified Scrum Product Owner"
      })
      @@include('components/testimonials/item/item.html', {
        "review": "... What stands out is his positive attitude and excellent communication skills, and his ability to bridge the gap between technical and non-technical stakeholders. Eric is a great leader to his global team members who span the U.S., India, and beyond. I highly recommend Eric as a Lead Developer and am confident that he would be a valuable addition to any organization ...",
        "author": "Lauren W. - Product Manager"
      })
      @@include('components/testimonials/item/item.html', {
        "review": "... Eric is a very well rounded creative that bridges the gap for designers and developers, ultimately delivering higher quality products both visually and functionally. I have worked with Eric and can attest to his professionalism and outgoing attitude that always helps lift the team up in every situation ...",
        "author": "Kyle C. - UI/UX Designer"
      })
    </div>
    <div class="testimonials__footer">
      <div class="testimonials__controls" role="region" aria-label="Testimonial Controls">
        <button class="testimonials__prev" aria-label="Previous testimonial">
          <svg aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 12H5M5 12L12 19M5 12L12 5" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <button class="testimonials__pause" aria-label="Pause testimonial slider">
          <svg aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 4H5V20H9V4Z" fill="currentColor"/>
            <path d="M19 4H15V20H19V4Z" fill="currentColor"/>
          </svg>
        </button>
        <button class="testimonials__next" aria-label="Next testimonial">
          <svg aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <a class="button" href="https://www.linkedin.com/in/ericshell/details/recommendations/" target="_blank" nofollow>View Full Endorsements</a>
    </div>
  </div>
</div>
