<div class="pane">
  <div>
    <a class="title" href="https://www.accuair.com/" target="_blank">AccuAir Suspension</a>
    <ul>
      <li>Digital Media Director</li>
      <li>San Luis Obispo, California</li>
      <li>March 2013 - May 2015</li>
    </ul>
    <ul>
      <li>As the Digital Media Director I was responsible for:</li>
      <li>Web development and innovation lead specializing in Drupal 7 Commerce 2.0</li>
      <li>Custom responsive theme development and support with task automation</li>
      <li>Supporting cinematographer and photographer for feature and event content</li>
      <li>Supporting graphic designer for digital and print media assets</li>
    </ul>
    <button>View my previous position</button>
  </div>
</div>
