.footer {
  position: relative;
  background: $violet;
  padding: 12.5vw 7.5vw;
  opacity: 0; // for visible animation

  &.visible{
    animation: ease-out fromTop .5s both;
    animation-delay: .25s;
  }

  ul {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      margin: .75em 0;
      font-size: 1.25em;
      color: $white;

      a {
        @include link;
        color: $white;
      }

      &:last-child {
        font-weight: 600;
        margin: 5em 0 .75em;
      }
    }
  }
}

@include for-tablet-portrait-up {

  .footer {
    padding: 12.5vw 10vw;

    ul {

      li {
        font-size: 2.5vw;
      }
    }
  }
}

@include for-tablet-landscape-up {

  .footer {
    padding: 12.5vw 22.5vw;

    ul {
      flex-direction: row;

      li {
        margin: 0;
        font-size: 1.75vw;

        a {
          margin: 0 0 0 1.25em;
        }

        &:first-child {

          a {
            margin: 0;
          }
        }

        &:last-child {
          margin: 0;
          flex-grow: 1;
          text-align: right;
        }
      }
    }
  }
}
