// Keyframe animations
@keyframes reveal{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fromLeft{
  0%{
    opacity: 0;
    transform: translate(-25%,0);
  }
  100%{
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes fromRight{
  0%{
    opacity: 0;
    transform: translate(25%,0);
  }
  100%{
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes sweep {
  0%{
    left: -100%;
  }
  100%{
    left: 100%;
  }
}

@mixin container{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 1.5rem;
}

// Basic animated underline
@mixin link($underline-height: .125em, $underline-color: $black){
  position: relative;
  text-decoration: none;
  display: inline-flex;
  overflow: hidden;

  &:before{
    content: '';
    height: $underline-height;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: $out-transition;
  }

  &:after{
    content: '';
    height: $underline-height;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: -100%;
    transition: $out-transition;
  }

  &:hover{
    
    &:before{
      left: 0;
      background: $underline-color;
      transition: $in-transition;
    }

    &:after{
      right: 0;
      background: $underline-color;
      transition: $in-transition;
    }
  }
}

// Square emphasized link
@mixin link-square($base-color: $white, $active-text-color: $blue){
  display: inline-block;
  color: $base-color;
  border: 2px solid $base-color;
  margin: 0 .5em;
  padding: .5em .75em;
  transition: $out-transition;
  text-decoration: none;

  &:focus,
  &:hover{
    color: $active-text-color;
    background: $base-color;
    transition: $in-transition;
  }

  &:before,
  &:after{
    display: none;
  }
}

// Round emphasized link
@mixin link-round($base-color: $white, $active-text-color: $blue){
  display: inline-block;
  color: $base-color;
  border: 2px solid $base-color;
  border-radius: 3em;
  margin: 0;
  padding: .5em 1.5em;
  transition: $out-transition;
  text-decoration: none;

  &:focus,
  &:hover{
    color: $active-text-color;
    background: $base-color;
    transition: $in-transition;
  }

  &:before,
  &:after{
    display: none;
  }
}
