// Setting base background for browsers with elastic viewports
html{
  background: $black;
}

// Setting the basic content background
body{
  background: #fff;
}

// Box sizing model
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Making images responsive
img{
  height: auto;
  width: 100%;
  min-width: 100%;
  vertical-align: bottom;
}

// Removing inherited blue outline focus
*:focus{
  border: 0;
  outline: 0;
}
