// Type
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body{
  font-size: 100%;
  text-rendering:optimizeLegibility;
  font-family: 'Lato', sans-serif;
}

@media #{$small-up}{

  p {
    font-size: 1rem;
    line-height: 1.8;

    a{
      font-weight: 700;
    }
  }

  h1{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
  }
}

@media #{$medium-up}{

  p{
    font-size: 2vw;
  }

  h1{
    font-size: 6vw;
  }
}

@media #{$large-up}{

  p{
    font-size: 1.6vw;
  }

  h1{
    font-size: 5vw;
  }
}
