// Type
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body{
  font-size: 100%;
  text-rendering:optimizeLegibility;
  font-family: 'Lato', sans-serif;
}

@media #{$small-up}{

  a{
    color: $black;
  }

  p {
    font-size: 1rem;
    line-height: 1.8;

    a{
      font-weight: 700;
      @include link;
    }
  }

  .field--name-field-tags{
    
    a{
      font-weight: 700;
      @include link;
    }
  }

  h1{
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    
    a{
      @include link(.25em);
    }
  }

  h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;

    a{
      @include link(.125em);
    }
  }

  h3{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 900;
    text-transform: uppercase;
    
    a{
      @include link(.25em);
    }
  }

  h4{
    margin: 0;
    font-size: 1.15rem;
    font-weight: 900;
    text-transform: uppercase;

    a{
      @include link(.125em);
    }
  }

  .field--name-title{
    display: block;
    max-width: 45rem;
    margin: 0 auto;
    padding: 3rem 1rem 0;
  }

  .field--name-created{
    display: block;
    font-weight: 700;
    max-width: 45rem;
    padding: .25em 1rem 0;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .field--name-field-body{
    padding: 2rem 0;

    p{
      padding: 0 0 2.5em;
    }

    ul{
      margin: 0;
      list-style: none;
    }
  }
}

@media #{$medium-up}{

  p{
    font-size: 1.2rem;
  }

  h1{
    font-size: 6vw;

    a{
      @include link(5px);
    }
  }

  h2{
    font-size: 4vw; 

    a{
      @include link(4px);
    } 
  }

  h3{
    font-size: 1.75vw;

    a{
      @include link(5px);
    }
  }

  h4{
    font-size: 1.5vw; 

    a{
      @include link(4px);
    }   
  }

  .field--name-field-body{
    
    ul{
      font-size: 1.2rem;
    }
  }
}

@media #{$large-up}{

  p{
    font-size: 1.6vw;
  }

  h1{
    font-size: 5vw;

    a{
      @include link(5px);
    }
  }

  h2{
    font-size: 3vw; 

    a{
      @include link(4px);
    }   
  }

  h3{
    font-size: 2vw; 

    a{
      @include link(4px);
    }   
  }

  h4{
    font-size: 1.5vw; 

    a{
      @include link(4px);
    }   
  }

  .field--name-title{
    max-width: 60vw;
  }

  .field--name-created{
    max-width: 60vw;
  }

  .field--name-field-body{

    ul{
      font-size: 1.6vw;
    }
  }
}
