// Type
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body{
  font-size: 100%;
  text-rendering:optimizeLegibility;
  font-family: 'Lato', sans-serif;
}

@media #{$small-up}{

  a{
    color: $black;
  }

  p {
    font-size: 1rem;
    line-height: 1.8;

    a{
      font-weight: 700;
      @include link;
    }
  }

  h1{
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    
    a{
      @include link(.25em);
    }
  }

  h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;

    a{
      @include link(.125em);
    }
  }

  h3{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 900;
    text-transform: uppercase;
    
    a{
      @include link(.25em);
    }
  }

  h4{
    margin: 0;
    font-size: 1.15rem;
    font-weight: 900;
    text-transform: uppercase;

    a{
      @include link(.125em);
    }
  }
}

@media #{$medium-up}{

  p{
    font-size: 2vw;
  }

  h1{
    font-size: 6vw;

    a{
      @include link(5px);
    }
  }

  h2{
    font-size: 4vw; 

    a{
      @include link(4px);
    } 
  }

  h3{
    font-size: 1.75vw;

    a{
      @include link(5px);
    }
  }

  h4{
    font-size: 1.5vw; 

    a{
      @include link(4px);
    }   
  }
}

@media #{$large-up}{

  p{
    font-size: 1.6vw;
  }

  h1{
    font-size: 5vw;

    a{
      @include link(5px);
    }
  }

  h2{
    font-size: 3vw; 

    a{
      @include link(4px);
    }   
  }

  h3{
    font-size: 2vw; 

    a{
      @include link(4px);
    }   
  }

  h4{
    font-size: 1.5vw; 

    a{
      @include link(4px);
    }   
  }
}
