// Colors
$white: #ffffff;
$gray-light: #f9f9f9;
$gray: #9EA3A7;
$black: #1c1f1e;

$red: #ff5959;
$yellow: #f9ff2c;
$green: #aeff33;
$cyan: #27c2ff;
$blue: #3c81fd;
$violet: #6209f8;

// Transistions
$in-transition: all .1s ease-in-out;
$out-transition: all .25s ease-in-out;

// Screen size breakpoints
$screen-small: 550px;
$screen-medium: 1000px;
$screen-large: 1250px;
$screen-xlarge: 1600px;

// Individual media queries
$small-only: 'screen and (max-width: #{$screen-small})';
$medium-only: 'screen and (min-width: #{$screen-small}) and (max-width: #{$screen-medium})';
$large-only: 'screen and (min-width: #{$screen-medium}) and (max-width: #{$screen-large})';
$xlarge-only: 'screen and (min-width: #{$screen-large}) and (max-width: #{$screen-xlarge})';
$xxlarge-only: 'screen and (min-width: #{$screen-xlarge})';

// Scaling media queries
$small-up: 'screen';
$medium-up: 'screen and (min-width: #{$screen-small})';
$large-up: 'screen and (min-width: #{$screen-medium})';
$xlarge-up: 'screen and (min-width: #{$screen-large})';
$xxlarge-up: 'screen and (min-width: #{$screen-xlarge})';

// Device media queries
$mobile-landscape: 'screen and (max-width: 800px) and (orientation: landscape)';