@mixin block($color:transparent) {
  opacity: 0;
  position: relative;
  background: $color;

  &.visible {
    opacity: 1;
    animation: fromBottom $in--slow ease-out;
  }
}

.block {
  @include block;
}
