@mixin button($color: $blue) {
  color: $white;
  font-weight: 600;
  line-height: 2.15;
  padding: 1em;
  margin: 0 .5em;
  position: relative;
  text-decoration: none;
  position: relative;
  background: transparent;
  z-index: 20;
  transition: all $out;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: solid .2em $white;
    transition: all $out;

    @include for-tablet-portrait-up {
      transform: skewX(-7.5deg);
    }
  }

  &:hover,
  &--active {
    color: $color;
    transition: all $in;

    &:before {
      background: $white;
      transition: all $in;

      @include for-tablet-portrait-up {
        transform: skewX(7.5deg);
      }
    }
  }
}

.button {
  @include button;
}
