.clients {
  z-index: 20;
  margin: -2vw 0;
  opacity: 0; // for visible animation

  &.visible {
    animation: ease-out fromTop .5s both;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  li {
    width: 25%;
    margin: 0;
    padding: 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}