.contributions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vw 5vw;
  background: $violet;

  .button {
    margin: 0 .5em;
  }

  @include for-tablet-portrait-up {
    padding: 5vw 10vw;
  }

  @include for-tablet-landscape-up {
    padding: 5vw 20vw;
  }
}