.hero {
  display: flex;
  flex-direction: column;
  background: $violet;

  @include for-tablet-portrait-up {
    flex-direction: row;
  }

  &__branding {
    position: relative;

    @include for-tablet-portrait-up {
      width: 45%;
    }
  }

  &__profile {
    display: block;
    z-index: 5;
  }

  &__logo {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15%;
    top: 30vw;
    z-index: 10;

    @include for-tablet-portrait-up {
      top: 12.5vw;
    }
  }

  &__tagline {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    padding: 10vw 5vw;

    @include for-tablet-portrait-up {
      padding: 5vw;
      width: 55%;
    }

    p {
      color: $black;

      @include for-tablet-portrait-up {
        max-width: 37.5vw;
      }
    }
  }
}