.hero {
  display: flex;
  background: $violet;

  &__branding {
    position: relative;
    width: 45%;
  }

  &__profile {
    display: block;
    z-index: 5;
  }

  &__logo {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15%;
    top: 12.5vw;
    z-index: 10;
  }

  &__tagline {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    padding: 5vw;

    p {
      color: $black;
      max-width: 37.5vw;
    }
  }
}