@mixin link($text-color: $white, $background-color: $black, $underline-color: $white, $underline-color-active: $blue) {
  font-weight: 600;
  color: $text-color;
  text-shadow: -0.08em -0.04em 0 $background-color, 0.08em -0.04em 0 $background-color, 0.08em 0.04em 0 $background-color, -0.08em 0.04em 0 $background-color;
  box-shadow: inset 0 -.05em 0 0 $background-color, inset 0 -.175em 0 0 $underline-color;
  transition: box-shadow $out-transition;

  &:hover,
  &:focus {
    box-shadow: inset 0 -.05em 0 0 $background-color, inset 0 -.175em 0 0 $underline-color-active;
    transition: box-shadow $in-transition;
  }
}

.link {
  @include link;
}