.resume {
  position: relative;

  p {
    line-height: 1.25;
    padding: .25em 0 0;

    @include for-tablet-portrait-up {
      font-size: 2vw;
    }

    @include for-tablet-landscape-up {
      font-size: 1.25vw;
    }
  }

  button {
    margin: 2em 0 0;
  }

  .employment {
    padding: 0 0 2em;
  }

  .credentials {

    ul + ul {
      margin: 1em 0 0;
    }
  }
}

.pane {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20vw 5vw;

  @include for-tablet-portrait-up {
    padding: 15vw 10vw;
  }

  @include for-tablet-landscape-up {
    padding: 10vw 20vw;
  }

  &.visible {
    display: block;
    animation: ease-out fromTop .5s both;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
  }

  &--intro,
  &--outro {
    font-size: 5vw;

    @include for-tablet-portrait-up {
      padding: 10vw;
    }

    @include for-tablet-landscape-up {
      padding: 20vw;
    }

    p {
      opacity: .75;
      padding: .5em .75em;
    }

    button {
      margin: 0;
    }

    @include for-tablet-portrait-up {
      font-size: 3.5vw;
    }

    @include for-tablet-landscape-up {
      font-size: 2.25vw;
    }
  }

  &:nth-child(even) {
    background: $cyan;
  }

  &:nth-child(odd) {
    background: $blue;
  }
}

.pane__content {
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &--intro,
  &--outro {
    align-items: center;

    @include for-tablet-landscape-up {
      flex-direction: row;
    }
  }
}