.work {
  display: none;

  &.visible {
    display: block;
    animation: ease-out fromTop .5s both;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 25%;
    margin: 0;
    padding: 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}