.banner {
  display: flex;
  flex-direction: column;
  background: $blue;
  overflow: hidden;
  animation: fromBottom .75s ease-out both;

  @include for-tablet-portrait-up {
    flex-direction: row;
    align-items: stretch;
    animation: fromLeft .75s ease-out both;
  }

  &__section {
    position: relative;
  }

  &__branding {

    @include for-tablet-portrait-up {
      width: 45%;
      animation: fromLeft .75s ease-out both;
    }
  }

  &__icon {
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 5vw;
    height: 5vw;
    animation: fromTop 1.25s ease-out both;
    animation-delay: 1s;

    @include for-tablet-portrait-up {
      top: 2.5vw;
      left: 2.5vw;
      width: 2.5vw;
      height: 2.5vw;
    }

    @include for-tablet-landscape-up {
      top: 1.4vw;
      left: 1.4vw;
      height: 1.4vw;
      width: 1.4vw;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 15vw;
    animation: fromBottom 1.25s ease-out both;

    @include for-tablet-portrait-up {
      padding: 0 7.5vw;
      animation: fromLeft 1.25s ease-out both;
    }
  }

  &__content {
    background: $white;

    @include for-tablet-portrait-up {
      width: 55%;
      transform: skewX(-15deg);

      &:after {
        content: '';
        background: $white;
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        transform: skewX(15deg);
        z-index: -1;
      }
    }
  }

  &__slogan {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vw 8vw;

    @include for-tablet-portrait-up {
      padding: 0 5vw 0 10vw;
      transform: skewX(15deg);
    }
  }

  &__text {
    color: $black;
    animation: fromBottom 1.25s ease-out both;

    @include for-tablet-portrait-up {
      animation: fromRight 1.25s ease-out both;
    }
  }
}
