.banner {
  display: flex;
  flex-direction: column;
  background: $blue;
  overflow: hidden;
  animation: fromTop $in--slow ease-out;

  @include for-tablet-landscape-up {
    flex-direction: row;
    align-items: stretch;
  }

  &__section {
    position: relative;
  }

  &__branding {

    @include for-tablet-landscape-up {
      width: 45%;
      animation: fromLeft $in--slow ease-out;
    }
  }

  &__icon {
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 5vw;
    height: 5vw;
    animation: fromTop $in--slow ease-out both;
    animation-delay: 1s;

    @include for-tablet-landscape-up {
      top: 1.4vw;
      left: 1.4vw;
      height: 1.4vw;
      width: 1.4vw;
    }
  }

  &__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 15vw;
    animation: fromBottom $in--slow ease-out;

    @include for-tablet-landscape-up {
      padding: 0 7.5vw;
      animation: fromLeft $in--slow ease-out;
    }
  }

  &__image {

    img {
      width: 100%;
    }
  }

  &__logo {
    width: 100%;
    transition: transform $out--fast ease-out;

    &:hover,
    &:focus-within {
      transform: scale(1.05) skewY(1deg);
      transition: transform $in--fast ease-out;
    }
  }

  &__content {
    background: $white;

    @include for-tablet-landscape-up {
      width: 55%;
      transform: skewX(-15deg);

      &:after {
        content: '';
        background: $white;
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        transform: skewX(15deg);
        z-index: -1;
      }
    }
  }

  &__slogan {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw 8vw;

    @include for-tablet-landscape-up {
      padding: 0 5vw 0 10vw;
      transform: skewX(15deg);
    }
  }

  &__title {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
  }

  &__text {
    color: $black;
    font-size: 4vw;
    line-height: 2;
    text-align: center;
    animation: fromBottom $in--slow ease-out;

    @include for-tablet-landscape-up {
      font-size: 1.9vw;
      text-align: left;
      animation: fromRight $in--slow ease-out;
    }
  }

  &__cta {
    @include link(1.5vw);
    margin-top: 2.5vw;
    background: $blue;
    color: $white;
    animation: fromBottom $in--slow ease-out;

    &:visited {
      color: $white;
    }

    @include for-tablet-landscape-up {
      margin-top: 1vw;
      align-self: flex-start;
      animation: fromRight $in--slow ease-out;
    }
  }
}

#banner__countdown {
  position: absolute;
  z-index: 250;
  top: 2.5vh;
  left: calc(50% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background: $white;
  color: $black;
  border-radius: 50%;
  font-size: 25px;
  font-family: $font--display;
  animation: countdown 3s ease-out 3 forwards;

  @include for-tablet-landscape-up {
    top: 5vh;
    height: 100px;
    width: 100px;
    font-size: 35px;
  }
}
