.footer {
  display: flex;
  flex-direction: column;
  color: $white;
  background: $black;
  width: 100%;
  font-size: 4vw;
  padding: 10vw 0;
  z-index: 20;
  overflow: hidden;

  @include for-tablet-landscape-up {
    flex-direction: row;
    font-size: 2vw;
    padding: 12.5vw 10vw 12.5vw 5vw;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3vw;
      width: 100%;
      box-shadow: 0 0 0 2vw $cyan, 0 0 0 4vw $blue, 0 0 0 6vw $violet;
      transform: skewY(-3deg);
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;

    @include for-tablet-landscape-up {
      width: 22.5vw;
      animation: fromLeft $in--slow ease-out forwards;
    }
  }

  &__item {

    &:nth-child(3n+1) {

      .footer__link:hover {

        @include for-tablet-landscape-up {
          background: $violet;
        }
      }
    }

    &:nth-child(3n+2) {

      .footer__link:hover {

        @include for-tablet-landscape-up {
          background: $blue;
        }
      }
    }

    &:nth-child(3n+3) {

      .footer__link:hover {

        @include for-tablet-landscape-up {
          background: $cyan;
        }
      }
    }
  }

  &__link {
    @include link(1.5vw);
  }

  &__info {
    display: flex;
    font-size: 24px;
    padding: 14vw 0 0 5vw;
    font-family: $font--display;
    text-transform: uppercase;

    @include for-tablet-landscape-up {
      flex-grow: 1;
      justify-content: flex-end;
      font-size: 28px;
      padding: 1.5vw 0;
      animation: fromRight $in--slow ease-out forwards;
    }
  }

  &__icon {
    display: block;
    position: absolute;
    top: 12vw;
    right: 5vw;
    height: 32px;
    width: 32px;

    @include for-tablet-landscape-up {
      position: relative;
      top: auto;
      right: auto;
      margin: -5px 10px 0 0;
    }
  }
}
