.footer {
  display: flex;
  flex-direction: column;
  color: $white;
  background: $black;
  width: 100%;
  font-size: 4vw;
  line-height: 2.15;
  padding: 10vw 8vw;
  font-weight: 600;

  @include for-tablet-portrait-up {
    flex-direction: row;
    font-size: 1.9vw;
    padding: 7.5vw;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    animation: fromTop .75s ease-out forwards;

    @include for-tablet-portrait-up {
      flex-grow: 1;;
      flex-direction: row;
      animation: fromLeft .75s ease-out forwards;
    }
  }

  &__link {
    @include link($white, $black, $black, $blue);
    margin: 0 1.5em 0 0;
  }

  &__info {
    display: flex;
    padding: 10vw 0 0;

    @include for-tablet-portrait-up {
      padding: 0;
    }
  }

  &__icon {
    display: block;
    position: absolute;
    top: 12vw;
    right: 8vw;
    height: 5vw;
    width: 5vw;

    @include for-tablet-portrait-up {
      position: relative;
      top: auto;
      right: auto;
      height: 1.4vw;
      width: 1.4vw;
      margin: 1.4vw 0;
    }
  }

  &__year {
    margin: 0 .25em 0 0;

    @include for-tablet-portrait-up {
      margin: 0 .25em
    }
  }
}
