.work {
  position: relative;
  color: $white;
  z-index: 40;
  opacity: 0;

  &.visible {
    opacity: 1;
    animation: fromBottom $in--slow ease-out;
  }

  @include for-tablet-landscape-up {
    margin: -4vw 0;
  }

  &__list {

    @include for-tablet-landscape-up {
      transform: skewY(-1deg);
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;

    @include for-tablet-landscape-up {
      justify-content: space-around;
    }
  }

  &__item {
    @include link(5vw);
    width: 100%;
    opacity: 0;

    &.visible {
      opacity: 1;
      animation: fromBottom $in--slow ease-out;
    }

    &:nth-child(3n+1) {
      background: $violet;
    }

    &:nth-child(3n+2) {
      background: $blue;
    }

    &:nth-child(3n+3) {
      background: $cyan;
    }

    @include for-tablet-landscape-up {
      width: 80%
    }

    @include for-desktop-up {
      @include link(2.5vw);
      width: 40%;

      &:nth-child(6n+1),
      &:nth-child(6n+2) {
        background: $violet;
      }

      &:nth-child(6n+3),
      &:nth-child(6n+4) {
        background: $blue;
      }

      &:nth-child(6n+5),
      &:nth-child(6n+6) {
        background: $cyan;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;

    @include for-tablet-landscape-up {
      transform: skewY(.5deg);
      transition: transform $out--fast ease-out;
    }

    p {
      font-family: $font--body;
      text-transform: none;

      & + p {
        font-size: 14px;
        opacity: .8;
        line-height: 2;
      }
    }
  }

  &__icon {
    margin-right: 28px;
    width: 80px;
  }
}
