.work {

  &__list {
    display: none;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
    margin: 0;
    padding: 5vw 2.5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include for-tablet-landscape-up {
      width: 25%;
    }
  }
}
