// Colors
$white: #ffffff;
$black: #0c0f0e;
$cyan: #27c2ff;
$blue: #3c81fd;
$violet: #6209f8;

// Map color values to class names
$colors: (
  white: $white,
  black: $black,
  cyan: $cyan,
  blue: $blue,
  violet: $violet,
);

// Configure color class function
@mixin generate-color-properties($prefix, $property) {
  @each $color-name, $color in $colors {
    .#{$prefix}-#{$color-name} {
      #{$property}: $color
    }
  }
}

// Generate colors for use in html
@include generate-color-properties('txt', 'color');
@include generate-color-properties('bg', 'background');
