@mixin link($text-color: $white, $background-color: $black, $underline-color: $white, $underline-color-active: $blue) {
  font-weight: 600;
  color: $text-color;
  text-shadow: -0.08em -0.04em 0 $background-color, 0.08em -0.04em 0 $background-color, 0.08em 0.04em 0 $background-color, -0.08em 0.04em 0 $background-color;
  box-shadow: inset 0 -.05em 0 0 $background-color, inset 0 -.175em 0 0 $underline-color;
  transition: box-shadow $out-transition;

  &:hover,
  &:focus {
    box-shadow: inset 0 -.05em 0 0 $background-color, inset 0 -.175em 0 0 $underline-color-active;
    transition: box-shadow $in-transition;
  }
}

.link {
  @include link;
}

@mixin button($base-color: $white, $active-text-color: $blue) {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: .5em .75em;
  color: $base-color;
  border-radius: 0;
  border: .15em solid $base-color;
  background: transparent;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: .01em;
  line-height: 2;
  transition: color $out-transition, background $out-transition, border $out-transition;

  &:focus,
  &:hover {
    background: $base-color;
    color: $active-text-color;
    border: .15em solid $base-color;
    transition: color $in-transition, background $in-transition;
  }
}

.button {
  @include button;
}