html {
  background: $black;
}

body {
  width: 100%;
  filter: hue-rotate(0deg);
  transition: all 5s ease-out;

  &.grayscale {
    filter: hue-rotate(-120deg) saturate(0);
    transition: all 5s ease-out;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

iframe {
  border: 0;
}

*:focus {
  border: 0;
  outline: 0;
}