body {
  font-size: 100%;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

p {
  color: $white;
  font-size: 16px;
  line-height: 2;

  & + p {
    margin: 10px 0 0;
  }
}

span {
  font-size: 16px;
  color: $white;
}

a {
  color: $white;
  line-height: 1.5;
}

ul {
  font-size: 16px;
  line-height: 1.5;

  li {
    color: $white;
    margin-left: 20px;
  }
}

h1 {
  color: $white;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
}

h2 {
  color: $white;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.1;
}

h3 {
  color: $white;
  font-size: 16px;
  margin: 20px 0 0;
  line-height: 1.2;
}

@include for-tablet-portrait-up{

  p{
    font-size: 2.25vw;
  }
}

@include for-tablet-landscape-up{

  p{
    font-size: 1.75vw;
  }
}
