body, input, textarea, select, button {
  font-size: 100%;
  font-family: 'Source Sans Pro', system-ui, Arial, sans-serif;
}

h1 {
  color: $white;
  font-weight: 900;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: -.01em;
  line-height: 1.25;
}

h2 {
  color: $white;
  font-weight: 900;
  font-size: 1.75em;
  text-transform: uppercase;
  letter-spacing: -.01em;
  line-height: 1.25;

  a {
    display: inline-block;
    text-decoration: none;
    line-height: 1.25;
  }
}

h3 {
  color: $white;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.25;
}

h4 {
  color: $white;
  font-weight: 600;
  font-size: 1.05em;
  line-height: 1.25;
  padding: 0 0 .25em
}

p {
  color: $white;
  font-size: 16px;
  line-height: 2;
}

a {
  color: $white;
  line-height: 1.5;
}

ul {
  font-size: 16px;
  line-height: 1.5;

  li {
    color: $white;
    margin-left: 20px;
  }
}

@include for-tablet-portrait-up {

  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  h3 {
    font-size: 2.5vw;
  }

  h4 {
    font-size: 2.5vw;
  }

  p {
    font-size: 2.25vw;
  }
}

@include for-tablet-landscape-up {

  h1 {
    font-size: 3.5vw;
  }

  h2 {
    font-size: 2.5vw;
  }

  h3 {
    font-size: 1.75vw;
  }

  h4 {
    font-size: 1.5vw;
  }

  p {
    font-size: 1.75vw;
  }
}