body, input, textarea, select, button {
  font-size: 100%;
  font-family: 'Source Sans Pro', system-ui, Arial, sans-serif;
}

p {
  color: $white;
  font-size: 16px;
  line-height: 2;
}

span {
  font-size: 16px;
  color: $white;
}

a {
  color: $white;
  line-height: 1.5;
}

ul {
  font-size: 16px;
  line-height: 1.5;

  li {
    color: $white;
    margin-left: 20px;
  }
}

@include for-tablet-portrait-up {

  p {
    font-size: 2.25vw;
  }
}

@include for-tablet-landscape-up {

  p {
    font-size: 1.75vw;
  }
}
